body{
	color: #013442de;
}
.nav-bg {
	background-color: #013442de;
	min-height: 100vh;

}
.main{
	overflow: hidden;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.nav {
	border: 0px;
}

.brand {
	margin: 10px;
}

.nav ul {
	width: 100%;

}

.nav-bg .nav-item {
	border-top: 1px solid #6c6c6c;
}
.nav-item a, .brand a{
	color: white;
	padding-right: 0.5em;
}
.nav-item a:hover{
	background-color: rgba(255,255,255,0.5);
}
.nav-item a:hover:before {
    #content: "\f0a9";
    #font-family: FontAwesome;
/*--adjust as necessary--*/
    font-size: 18px;
    padding-right: 0.5em;
}
.content-title{
	padding: 15px;
	border-bottom: 15px solid #013442de;
}

.btn.btn.btn-success{
	background-color: #013442de;
	font-size: 1.5em;
	font-weight: bold;
	padding: 0 15px;
	
}

.bl1 {
	border-left: 1px solid #00000020;
}

.header-color {
	background-color: #00000008;
}